# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
.env
.venv
env/
venv/
ENV/

# OS-Specific
.DS_Store
Thumbs.db

# IDEs and Editors
.idea/
.vscode/
*.swp
*.swo

# Project/Data Artifacts
# Avoid pushing user PII/AddressBooks to version control
assistant-bot/user_address_book/*.csv
assistant-bot/user_address_book/*.json
assistant-bot/user_address_book/*.pkl

# Testing & Mock Artifacts
.pytest_cache/
.coverage
test_addressbook/ex_contacts.csv
test_addressbook/ex_contacts.json
test_addressbook/ex_contacts.pkl
